*.dat
*.elc
*~
.#*
.DS_Store
.cask
.emacs.desktop
.session
.session
GPATH
GRTAGS
GTAGS
SessionDesktop.el
abbrev_defs
bookmarks
custom-file.el
el/*
el/*.el
el/cedet/
el/column-enforce-mode/
el/matlab-emacs/
el/p4.el/
elpa
elpy
eshell
games
ido.last
info/*
irony
network-security.data
request
semanticdb
session.*
srecode-map.el
tatu
tramp
transient
url/